/* Castle Styles
by Max Nussenbaum */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background: #f9f9f9;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 2em;
  color: #34495e;
}
::selection {
  color: #fafafa;
  background: #3ab4ad;
}
::-moz-selection {
  color: #fafafa;
  background: #3ab4ad;
}
strong {
  font-weight: 400;
}
img {
  max-width: 100%;
}
[ui-sref] {
  cursor: pointer;
}
a {
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
[ui-view="content"] {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
[ui-view="content"].ng-enter {
  opacity: 0;
}
[ui-view="content"].ng-enter-active {
  opacity: 1;
}
[ui-view="content"].ng-leave,
[ui-view="content"].ng-leave-active {
  display: none;
}
[ui-view="content"].ng-enter {
  opacity: 0;
}
[ui-view="content"].ng-enter-active {
  opacity: 1;
}
[ui-view="content"].ng-leave,
[ui-view="content"].ng-leave-active {
  display: none;
}
.fade-in.ng-enter,
.fade-in.ng-leave,
.fade-in.ng-move {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
}
/* starting enter animation */
.fade-in.ng-enter,
.fade-in.ng-move {
  opacity: 0;
}
/* ending enter animation */
.fade-in.ng-enter.ng-enter-active,
.fade-in.ng-move.ng-move-active {
  opacity: 1;
}
/* starting leave animation */
.fade-in.ng-leave {
  display: none;
}
/* ending leave animation */
.fade-in.ng-leave.ng-leave-active {
  opacity: 0;
}
.stagger.ng-enter-stagger,
.stagger.ng-leave-stagger,
.stagger.ng-move-stagger {
  /* 100ms between each item being animated after the other */

  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
  /* this is required here to prevent any CSS inheritance issues */

  -webkit-transition-duration: 0;
  transition-duration: 0;
}
#mobile-header {
  display: none;
}
.centered-logo {
  display: block;
  margin: 0 auto 30px;
  width: 110px;
}
.sticky-footer-wrapper {
  min-height: 100%;
  margin: 0 auto -250px;
}
.sticky-footer-push,
.sticky-footer {
  height: 250px;
}
.row {
  margin: 0;
}
#wrapper {
  padding-left: 250px;
}
#sidebar {
  left: 0;
  width: 250px;
  background: #e7e7e7;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
}
#content {
  width: 100%;
  padding: 30px 40px;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-nav li {
  line-height: 50px;
  text-indent: 10px;
  height: 50px;
  margin: 0;
}
.sidebar-nav li i {
  margin-right: 15px;
}
.sidebar-nav li a {
  color: #6a8186;
  display: block;
  border: 0;
  font-weight: 400;
}
.sidebar-nav li a.current,
.sidebar-nav li a:hover {
  color: #48585c;
  background: #f1f1f1;
}
.sidebar-nav i {
  width: 30px;
}
.sidebar-nav > .sidebar-brand {
  height: 250px;
}
.sidebar-nav > .sidebar-brand a,
.sidebar-nav > .sidebar-brand a:hover {
  height: 250px;
  background-color: #34495e;
  background-image: url('../images/logo-solo.png');
  background-size: auto 80%;
  background-position: center center;
  background-repeat: no-repeat;
  border: 0;
  text-indent: -9000px;
  transition: 0;
  -moz-transition: 0;
  -webkit-transition: 0;
  -ms-transition: 0;
  -o-transition: 0;
}
.sidebar-nav > .sidebar-brand a:hover {
  background-color: #3d566e;
}
.breadcrumbs {
  font-size: 85%;
  font-weight: 400;
  color: #5f7378;
}
.breadcrumbs a {
  border: 0;
}
.breadcrumb-caret {
  margin: 0 4px;
  color: #a2b1b5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 130%;
}
h1 {
  font-size: 250%;
}
h2 {
  font-size: 220%;
}
h3 {
  font-size: 180%;
}
h4 {
  font-size: 140%;
}
h5 {
  font-size: 130%;
}
p {
  line-height: 140%;
  color: #34495e;
  margin: 0;
}
#mobile-wrapper p {
  max-width: 600px;
}
p + p {
  margin-top: 20px;
}
p.large {
  font-size: 180%;
  font-weight: 200;
}
p.medium {
  font-size: 150%;
  font-weight: 300;
}
p.small {
  font-size: 120%;
}
p.tiny {
  font-size: 80%;
}
li {
  margin-bottom: 6px;
  max-width: 600px;
}
.light-text,
.light-text p,
.light-text h1,
.light-text h2,
.light-text h3 {
  color: #f9f9f9;
}
.quiet {
  color: #5f7378;
  font-size: 80%;
  font-style: italic;
}
a {
  color: #198e85;
  text-decoration: none !important;
  border-bottom: 1px dotted #C4C4C4;
  transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
}
a:hover {
  text-decoration: none;
  color: #4D97B5;
  border-color: #5F7378;
}
a.back:before {
  content: "\f053";
  font-family: FontAwesome;
  font-size: 80%;
  margin-right: 8px;
}
.btn {
  font-size: 90%;
  background: #34495e;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #19232d;
  color: #5f7378;
  font-weight: 300;
  transition: color 0.2s ease, background 0.2s ease;
  -moz-transition: color 0.2s ease, background 0.2s ease;
  -webkit-transition: color 0.2s ease, background 0.2s ease;
  -ms-transition: color 0.2s ease, background 0.2s ease;
  -o-transition: color 0.2s ease, background 0.2s ease;
  margin: 0;
  position: relative;
  top: 0;
  margin-bottom: 1px;
  color: #f9f9f9;
  height: 40px;
}
.btn:hover {
  background: #222f3d;
  color: #f9f9f9;
  border-color: #19232d;
}
.btn:active {
  top: 1px;
  border-bottom: none;
}
.btn:active,
.btn:focus {
  outline: none !important;
}
.btn-large {
  font-size: 160%;
  border-bottom: 4px solid #19232d;
  position: relative;
  top: 0;
  margin-top: 0;
  margin-bottom: 4px;
  height: 60px;
}
.btn-large:active {
  top: 2px;
  border-bottom: 1px solid #19232d;
}
.btn-medium {
  font-size: 120%;
  border-bottom: 3px solid #19232d;
  position: relative;
  top: 0;
  margin-top: 0;
  margin-bottom: 3px;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
}
.btn-medium:active {
  top: 2px;
  border-bottom: 1px solid;
}
.btn-two-lines {
  font-size: 120%;
  border-bottom: 3px solid #19232d;
  position: relative;
  top: 0;
  margin-top: 0;
  margin-bottom: 3px;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  height: 74px;
  line-height: 125%;
}
.btn-two-lines div {
  font-size: 80%;
}
.btn-fullwidth {
  width: 100%;
  border-radius: 0;
  margin-top: 10px;
}
.btn.btn-green {
  background: #3ab4ad;
  border-color: #277a75;
}
.btn.btn-green:hover {
  background: #2e8d88;
}
.btn.btn-blue {
  background: #75bbde;
  border-color: #379dcf;
}
.btn.btn-blue:hover {
  background: #4ca7d4;
}
.btn.btn-red {
  background: #e15e5b;
  border-color: #ca2925;
}
.btn.btn-red:hover {
  background: #db403d;
}
.btn.btn-purple {
  background: #b799c8;
  border-color: #9467ad;
}
.btn.btn-purple:hover {
  background: #a078b6;
}
.btn.btn-yellow {
  background: #f7bf3a;
  border-color: #dc9d09;
}
.btn.btn-yellow:hover {
  background: #f4af0a;
}
.btn.btn-disabled {
  cursor: default;
  background: #e0e0e0;
  color: #85999e;
  border-color: #adadad;
}
.btn.btn-disabled:active {
  top: 0 !important;
  margin-top: 0 !important;
  box-shadow: none !important;
  border-bottom: 2px solid #adadad;
}
input[type="submit"],
button[type="submit"] {
  display: block;
  margin: 20px auto;
}
button[type="submit"]:focus {
  color: #f9f9f9;
}
a.more {
  display: block;
  width: 200px;
  margin: 30px auto 50px auto;
  font-size: 70%;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  color: #222f3d;
  font-weight: 400;
  padding: 2px 12px;
  border: 1px solid #34495e;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
}
a.more:before {
  content: "\f055";
  font-family: FontAwesome;
  font-size: 90%;
  margin-right: 3px;
}
a.more:hover {
  background: #34495e;
  color: #f9f9f9;
}
a.less {
  display: block;
  font-size: 70%;
  line-height: 150%;
  text-transform: uppercase;
  text-align: right;
  font-weight: 400;
  cursor: pointer;
  border-bottom: none;
}
a.less:before {
  content: "\f056";
  font-family: FontAwesome;
  font-size: 90%;
  margin-right: 3px;
}
.solo-form {
  margin: 30px auto;
  width: 100%;
  max-width: 800px;
}
.solo-form form {
  max-width: 400px;
  width: 90%;
  margin: 0 auto;
}
.solo-form.left,
.solo-form.left form {
  margin: 0;
}
.solo-form h1,
.solo-form h4,
.solo-form h5 {
  text-align: center;
}
.solo-form.left h1,
.solo-form.left h4,
.solo-form.left h5 {
  text-align: left;
}
.solo-form h4 {
  margin-bottom: 20px;
}
input,
select,
textarea {
  border-radius: 4px;
  border: 2px solid #778e93;
  padding: 2px 4px;
  background-color: white;
}
input:hover,
select:hover,
textarea:hover {
  border-color: #93a5aa;
}
input:focus,
select:focus,
textarea:focus {
  border-color: #4ca7d4;
  outline: none;
}
label {
  font-weight: 300;
}
.long-checkbox label {
  display: inline-block;
  width: 85%;
  margin-left: 4px;
  vertical-align: top;
}
select,
textarea,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="url"] {
  -webkit-appearance: none;
  display: block;
  margin-bottom: 10px;
  width: 100%;
  max-width: 400px;
}
.intl-tel-input {
  width: 100%;
  margin-bottom: 5px;
}
.intl-tel-input .selected-flag .iti-flag {
  top: 17px !important;
}
select {
  background-image: url('../images/select-bg.png');
  background-repeat: no-repeat;
  background-position: right 6px center;
}
select:hover {
  background-color: #ececec;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  background-color: white;
  vertical-align: text-bottom;
  margin-right: 8px;
  border: 2px solid #5f7378;
  padding: 9px;
  position: relative;
  outline: none !important;
}
input[type="checkbox"] {
  border-radius: 3px;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
  border-color: #75bbde;
}
input[type="checkbox"]:checked:after {
  content: '\2714';
  font-size: 24px;
  position: absolute;
  top: -6px;
  left: 2px;
  color: #5f7378;
}
input[type="radio"] {
  border-radius: 12px;
}
input[type="radio"]:checked:after {
  content: ' ';
  width: 12px;
  height: 12px;
  border-radius: 50px;
  position: absolute;
  top: 3px;
  background: #5f7378;
  left: 3px;
  font-size: 32px;
}
.one-line-radio input[type="radio"]:nth-of-type(2) {
  margin-left: 15px;
}
.one-line-radio label {
  font-weight: 300;
}
fieldset {
  margin: 20px 0;
}
label {
  font-weight: 400;
  margin-right: 10px;
}
input.zipcode {
  width: 140px;
}
input[type="file"] {
  border: 0;
  background: none;
  height: 50px;
  font-size: 80%;
}
.help-text,
.top-help-text {
  font-size: 80%;
  color: #48585c;
  margin: -4px 0 0 0;
  font-style: italic;
}
.right-help-text {
  text-align: right;
}
.top-help-text {
  text-align: right;
  float: right;
  margin-top: 5px;
}
form:not(.ng-submitted) .invalid-text {
  display: none;
}
.secure-fieldset {
  position: relative;
}
.secure-fieldset i {
  font-size: 130%;
  color: #5f7378;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 39px;
}
.secure-fieldset input:focus + i {
  color: #75bbde;
}
.address-input {
  margin-top: -10px;
}
.address-input fieldset {
  display: inline-block;
  margin: 0;
}
.address-input fieldset:first-child {
  width: 212px;
}
.address-input fieldset:nth-child(2) {
  width: 60px;
  margin: 0 15px;
}
.address-input .help-text {
  margin-top: -12px;
  margin-bottom: 14px;
}
input.zipcode {
  width: 90px;
}
.nl-form {
  text-align: center;
  font-size: 120%;
  margin: 20px 0;
}
.nl-form select,
.nl-form input {
  display: inline-block;
  line-height: 100%;
  margin-bottom: 5px;
  margin-right: 4px;
  margin-left: 4px;
  font-weight: 400;
  font-size: 90%;
}
.nl-form select {
  width: auto;
}
.nl-form select.due-date {
  padding-right: 14px;
}
.nl-form select.frequency,
.nl-form select.days-late {
  padding-right: 22px;
}
.nl-form input[type="text"],
.nl-form input[type="number"] {
  width: 52px;
  padding: 0 0 0 18px;
  margin-left: -2px;
}
.nl-form ::-webkit-input-placeholder {
  padding-top: 4px;
}
.nl-form-dollar {
  position: relative;
  left: 14px;
  font-weight: 400;
  font-size: 90%;
}
.both-names-input {
  margin: 20px 0;
}
.both-names-input label[for="last-name"],
.both-names-input label[for="lastName"] {
  visibility: hidden;
}
.both-names-input fieldset {
  width: 45%;
  display: inline-block;
  margin: 10px 16px 0 0;
}
.both-names-input fieldset input {
  width: 100%;
}
.both-names-input fieldset + fieldset {
  width: 50%;
  margin: 10px 0 0 0;
}
.both-names-input + fieldset {
  margin-top: 0px;
}
fieldset + .both-names-input {
  margin-top: -10px;
}
.date-input fieldset {
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 0;
  vertical-align: bottom;
}
.date-input fieldset:first-child {
  width: 38%;
  margin-top: 0;
}
.date-input fieldset:nth-child(2) {
  width: 16%;
  margin-top: 0;
}
.date-input fieldset:nth-child(3) {
  width: 34%;
  margin-right: 0;
  margin-top: 0;
}
.date-input label {
  width: 150%;
}
.password-requirements {
  font-size: 80%;
  color: #778e93;
}
.password-requirements .requirement {
  display: inline-block;
  width: 49%;
}
.password-requirements .requirement:nth-child(even) {
  text-align: right;
}
.password-requirements input[type="checkbox"] {
  border: 1px solid #778e93;
  padding: 5px;
  border-radius: 2px;
  top: -4px;
}
.password-requirements input[type="checkbox"]:checked {
  border-color: #4ca7d4;
}
.password-requirements input[type="checkbox"]:checked:after {
  font-size: 12px;
  top: -2px;
  left: 2px;
}
.invalid,
.ng-submitted .ng-invalid {
  border-color: #e15e5b;
}
.invalid-text {
  font-size: 80%;
  font-weight: 400;
  color: #e15e5b;
  display: block;
  margin: -5px 0 5px 0;
}
.validation-success {
  display: none;
  opacity: 1;
  position: absolute;
  right: -7.2px;
  bottom: 2.8px;
  font-size: 28.8px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 36px;
  color: #3ab4ad;
  transition: all ease-out 0.32s;
}
.validation-success:after {
  display: block;
  content: '\e013';
  font-family: 'Glyphicons Halflings';
}
.validation-success.ng-hide {
  transition-delay: 0s;
  transition: all ease-out 0.12s;
  opacity: 0;
  transform: rotate(360deg);
}
.ng-hide-remove li {
  opacity: 0;
}
.validation {
  color: #f9f9f9;
  margin: 0;
  position: relative;
  font-size: 14px;
  overflow: visible;
  background: #e15e5b;
}
.validation li {
  display: block;
  line-height: 1;
  background: #e15e5b;
  position: absolute;
  right: -4px;
  top: -24px;
  text-align: center;
  font-weight: bold;
  padding: 2px 10px;
  color: #f9f9f9;
  transform: rotate(0deg);
  transition: all ease-in 0.2s;
  opacity: 1;
  transition-delay: 0s;
  z-index: 100;
}
.validation li.ng-enter {
  opacity: 0;
  top: 0;
}
.validation li.ng-leave {
  transition: all ease-in 0s;
  opacity: 0;
}
*:focus + div .validation li {
  opacity: 0;
}
input.ng-touched.ng-invalid:not(.ng-valid),
textarea.ng-touched.ng-invalid:not(.ng-valid),
select.ng-touched.ng-invalid:not(.ng-valid) {
  border-color: #e15e5b;
}
input[type="text"].ng-valid-required.ng-valid:not(.ng-invalid),
input[type="number"].ng-valid-required.ng-valid:not(.ng-invalid),
input[type="email"].ng-valid-required.ng-valid:not(.ng-invalid),
input[type="password"].ng-valid-required.ng-valid:not(.ng-invalid),
input[type="tel"].ng-valid-required.ng-valid:not(.ng-invalid),
textarea.ng-valid-required.ng-valid:not(.ng-invalid),
select.ng-valid-required.ng-valid:not(.ng-invalid) {
  border-color: #3ab4ad;
}
.btn-file {
  position: relative;
  overflow: hidden;
  display: block;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.btn-file + .progress-bar {
  border-radius: 10px;
}
.money {
  position: relative;
}
.money label::after {
  content: '$';
  position: absolute;
  left: 6px;
  bottom: 14px;
}
.money input {
  padding-left: 15px;
}
.errors {
  background: #fdf2d7;
  padding: 15px 0;
  font-size: 80%;
  border-radius: 5px;
  margin: 20px 0;
  width: 100%;
  max-width: 600px;
}
.errors-bang,
.errors-text {
  display: inline-block;
  vertical-align: top;
}
.errors-bang {
  width: 22%;
  font-size: 350%;
  color: #f7bf3a;
  text-align: center;
}
.errors-text {
  width: 75%;
}
.errors h3 {
  font-size: 130%;
  text-align: left;
  line-height: 100%;
  font-weight: 400;
  margin: 5px 0 10px 0;
}
.errors h3,
.errors p {
  color: #444444;
}
.errors-good {
  background: #e0f0f8;
}
.errors-good .errors-bang {
  color: #75bbde;
}
.errors-bad {
  background: #fae5e5;
}
.errors-bad .errors-bang {
  color: #e15e5b;
}
.solo-form .agreement-form {
  max-width: 500px;
}
.agreement-intro {
  margin-bottom: 40px;
}
.small-intro {
  font-size: 90%;
}
.agreement-address td {
  vertical-align: top;
  padding-right: 20px;
}
ol.management-agreement {
  counter-reset: li;
  /* Initiate a counter */

  list-style: none;
  /* Remove default numbering */

  *list-style: decimal;
  /* Keep using default numbering for IE6/7 */

  padding: 0;
  margin-bottom: 60px;
}
.management-agreement li {
  position: relative;
  padding: 10px 0 10px 30px;
  margin: 30px 0;
  background: #f1f1f1;
  border-radius: 5px;
  width: 94%;
}
.management-agreement li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -15px;
  top: 50%;
  margin-top: -16px;
  background: #9ecfe8;
  height: 32px;
  width: 32px;
  line-height: 32px;
  border-radius: 16px;
  font-size: 22px;
  text-align: center;
  font-weight: 600;
}
.management-agreement li.has-alert:before {
  top: 25%;
}
.agreement-spacer {
  height: 10px;
}
.agreement-alert {
  background: #fdf2d7;
  padding: 15px 0;
  font-size: 80%;
  border-radius: 5px;
  margin: 20px 0 20px -10px;
  width: 410px;
  max-width: 100%;
}
.agreement-alert-bang,
.agreement-alert-text {
  display: inline-block;
  vertical-align: top;
}
.agreement-alert-bang {
  width: 15%;
  font-size: 350%;
  color: #f7bf3a;
  text-align: center;
}
.agreement-alert-text {
  width: 83%;
}
.signup-body {
  border-top: 6px solid #3ab4ad;
}
ul.signup-pointers {
  margin: 0 auto 20px;
  width: 90%;
  max-width: 400px;
}
.signup-faq {
  margin: 70px auto 0;
  max-width: 550px;
  width: 90%;
}
.signup-faq h5 {
  font-weight: 400;
  margin-top: 30px;
}
.happy-castle-guy {
  display: block;
  margin: 0 auto;
  width: 250px;
}
.signup-thanks {
  max-width: 600px;
  margin: 0 auto;
}
.first-run-steps {
  display: block;
  width: 100%;
  max-width: 500px;
  border: 1px solid #3ab4ad;
  border-radius: 6px;
  height: 60px;
  line-height: 60px;
  font-weight: 400;
  font-size: 120%;
  text-indent: 70px;
  background: #fcfcfc;
  position: relative;
  margin-top: 20px;
}
.first-run-steps-one:before,
.first-run-steps-two:before {
  position: absolute;
  left: -54px;
  font-weight: 300;
  font-size: 180%;
  padding-right: 16px;
  border-right: 1px solid #3ab4ad;
  height: 59px;
}
.first-run-steps-one:before {
  content: '1';
}
.first-run-steps-two:before {
  content: '2';
}
.first-run-steps:after {
  content: '\f054';
  font-family: 'FontAwesome';
  color: #3ab4ad;
  line-height: 60px;
  font-size: 120%;
  position: absolute;
  right: 10px;
}
.first-run-steps:hover,
.first-run-steps:hover:after,
.first-run-steps:hover:before {
  color: #75bbde;
  border-color: #75bbde;
}
.first-run-steps-disabled,
.first-run-steps-disabled:before,
.first-run-steps-disabled:after,
.first-run-steps-disabled:hover,
.first-run-steps-disabled:before:hover,
.first-run-steps-disabled:after:hover {
  cursor: default;
  color: #e0e0e0 !important;
  border-color: #e0e0e0 !important;
}
.first-run-steps-complete:before {
  content: '\f00c';
  font-family: 'FontAwesome';
  font-size: 85%;
}
.first-run-guy {
  max-width: 200px;
}
.need-help {
  position: fixed;
  bottom: 36px;
  right: 20px;
  width: 250px;
  height: 150px;
}
.need-help img {
  max-width: 80px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.need-help p {
  width: 170px;
  position: absolute;
  top: 20px;
  left: 5px;
  font-size: 80%;
  font-weight: 400;
  color: #4ca7d4;
}
#multi-progress {
  height: 60px;
  width: 360px;
  position: fixed;
  top: 60px;
  right: 30px;
  text-align: center;
}
#multi-progress:after {
  content: "";
  position: absolute;
  bottom: 72%;
  left: 0;
  right: 0;
  border-bottom: 2px solid #93a5aa;
  width: 80%;
  margin: 0 auto;
}
#multi-progress .item {
  font-size: 65%;
  width: 20%;
  display: inline-block;
  line-height: 110%;
  vertical-align: top;
  color: #5f7378;
}
#multi-progress .item.in-progress,
#multi-progress .item.complete {
  color: #34495e;
}
#multi-progress.four-items .item {
  margin-right: 18px;
}
#multi-progress.three-items .item {
  margin-right: 62px;
}
#multi-progress .item:last-child {
  margin-right: 0;
}
#multi-progress .item .circle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: #e9eced;
  border: 1px solid #ccd5d7;
  z-index: 2;
  position: relative;
  margin: 0 auto 5px auto;
}
#multi-progress .item.complete .circle {
  background: #3ab4ad;
  border-color: #3ab4ad;
}
#multi-progress .item.in-progress .circle {
  background: #75bbde;
  border-color: #75bbde;
}
table.utility-providers {
  width: 98%;
}
table.utility-providers label {
  font-weight: 300;
}
.credit-card {
  width: 430px;
  margin: 20px -16px 20px;
  padding: 1px 16px;
  background: #ececec;
  border-radius: 7px;
}
.expiration-and-code {
  position: relative;
}
.expiration-and-code .ng-scope {
  display: inline-block;
}
.expiration-and-code fieldset {
  display: inline-block;
  margin-top: 0;
}
fieldset.expiration-date {
  width: 150px;
}
fieldset.expiration-date input {
  display: inline-block;
  width: 50px;
}
fieldset.expiration-date input + input {
  width: 70px;
  margin-left: 9px;
}
fieldset.cvv-code {
  width: 82px;
  width: 92px;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
}
fieldset.cvv-code label {
  margin-right: 0px;
}
fieldset.cvv-code input {
  width: 56px;
  text-align: right;
  padding-right: 5px;
  float: right;
}
.cityscape {
  background-image: url('/images/cityscape.png');
  background-position: top center;
  background-repeat: repeat-x;
  background-size: 1100px auto;
}
.signup-footer {
  font-size: 75%;
  text-align: center;
  position: relative;
  top: 135px;
}
.signup-footer p,
.signup-footer a {
  color: #f9f9f9;
}
.signup-footer a:hover {
  border-color: #f7bf3a;
  color: #f7bf3a;
}
.signup-footer a.home-link {
  display: block;
  height: 30px;
  width: 109px;
  margin: 15px auto;
  border: 0;
  text-indent: -9000px;
  background: url('/images/logo-horizontal-white.png');
  background-size: 100% auto;
  transition: all;
  -moz-transition: all;
  -webkit-transition: all;
  -ms-transition: all;
  -o-transition: all;
}
.signup-footer a.home-link:hover {
  opacity: 0.9;
}
.footer-heart {
  color: #e98886;
  font-size: 80%;
  margin: 0 3px;
}
.spacer {
  display: inline-block;
  width: 50px;
}
.rent-status-table {
  width: 540px;
  margin: 50px 0px 10px -10px;
  border-radius: 10px;
  background: #ffffff;
}
.rent-status-small {
  width: 100%;
  margin-top: 0;
  font-size: 90%;
  border: 1px solid #eaeaea;
}
.rent-status-small,
.rent-status-small td {
  border-radius: 10px;
  border-collapse: separate;
}
.rent-status-table:nth-child(1) {
  margin-top: 20px;
}
.rent-status-cell {
  padding: 5px 10px;
}
.rent-status-header {
  padding: 6px 12px;
  background: #5f7378;
  font-size: 110%;
  font-weight: 400;
  color: #f9f9f9;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.rent-status-name {
  border-right: 0;
}
.rent-status-amount {
  color: #85999e;
  padding-right: 20px;
  font-size: 85%;
  border-right: 0;
  border-left: 0;
  width: 15%;
}
.rent-status-circle {
  border-right: 0;
  border-left: 0;
  width: 6%;
}
.rent-status-status {
  font-size: 85%;
  text-align: center;
  padding: 5px 25px;
  text-transform: uppercase;
  width: 28%;
  border-left: 0;
}
.rent-circle {
  display: block;
  margin: 0 auto 5px auto;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: relative;
  top: 2px;
  background: #b0bdc0;
}
.rent-circle-invited {
  background: #b0bdc0;
}
.rent-circle-linked {
  background: #778e93;
}
.rent-circle-due {
  background: #f9f9f9;
  border: 1px solid #34495e;
}
.rent-circle-paid {
  background: #3ab4ad;
}
.rent-circle-late {
  background: #e15e5b;
}
.rent-circle-past-due {
  background: #f7bf3a;
}
.rent-status tr.late {
  background: #f9dddc;
  border: 1px solid #f9dddc;
}
.rent-status tr.past-due {
  background: #fdefcd;
}
ul.properties {
  padding-left: 6px;
  margin-top: 20px;
  max-width: 600px;
}
ul.properties li {
  display: block;
  height: 110px;
  line-height: 100px;
  text-indent: 6px;
  margin: 10px 0px 10px -20px;
  font-size: 120%;
  padding: 8px;
  border-top: 1px solid #dae1e2;
}
ul.properties li.border {
  height: 1px;
  padding: 0;
  margin-top: 12px;
  background: #dae1e2;
}
ul.properties li a {
  display: block;
  border: 0;
  padding: 0 6px 3px;
  border-radius: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
ul.properties li a:hover {
  display: block;
  border: 0;
  background: #e7e7e7;
}
ul.properties li a:active {
  background: #d3d3d3;
}
ul.properties li a img,
.thumbnail {
  display: inline;
  max-width: 90px;
  max-height: 100px;
  margin-right: 10px;
}
ul.properties li.add-property {
  height: 50px;
  line-height: 50px;
}
.add-disabled,
.add-disabled:hover {
  color: #a2b1b5 !important;
  background: none !important;
  cursor: default !important;
}
.add-property i {
  width: 90px;
  margin-right: 10px;
  text-align: center;
}
.property-address {
  margin: -5px 0 30px 0;
  line-height: 100%;
  color: #6a8186;
}
.property-section {
  margin-bottom: 0;
  width: 48%;
  display: inline-block;
  vertical-align: top;
}
.image-carousel {
  margin-bottom: 40px;
}
.image-carousel div {
  margin-right: 10px;
}
.image-carousel div,
.image-carousel img {
  max-height: 350px;
}
.slick-prev {
  margin-left: -5px;
}
.slick-next {
  right: -15px !important;
}
.slick-prev:before,
.slick-next:before {
  color: #5f7378 !important;
}
.slick-prev:hover:before,
.slick-next:hover:before {
  color: #3ab4ad !important;
}
.tenant-overview {
  margin-bottom: 40px;
  margin-left: -10px;
  background: #efefef;
  border-radius: 10px;
  min-width: 300px;
}
.tenant-overview td {
  padding: 6px 10px;
  vertical-align: middle;
}
.tenant-photo img {
  max-width: 115px;
  border-radius: 10px;
}
.tenant-description {
  font-size: 95%;
}
.tenant-description .tenant-name {
  font-weight: 400;
  font-size: 110%;
}
.tenant-description .tenant-item {
  color: #6a8186;
}
.tenant-description .tenant-income {
  font-size: 90%;
  font-style: italic;
  color: #6a8186;
}
.tenant-description span {
  display: block;
}
.tenant-no-lease td {
  background: #e15e5b;
  color: #f9f9f9;
  font-size: 80%;
  font-weight: 400;
  text-align: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
img.forgot-password {
  display: block;
  margin: 0 auto 20px auto;
  width: 250px;
}
.side-image,
.side-image-text {
  display: inline-block;
  vertical-align: bottom;
}
.side-image {
  padding-right: 40px;
}
.castle-guy-on-phone {
  width: 150px;
}
.how-it-works {
  width: 670px;
  max-width: 100%;
  margin: 20px 0;
  padding: 20px 0;
  background: #f1f1f1;
  border-radius: 10px;
}
.how-it-works-sub {
  display: inline-block;
  margin: 0 10px;
  width: 200px;
  text-align: center;
  vertical-align: top;
}
.how-it-works-sub h4 {
  margin: 0;
  font-weight: 400;
  font-size: 90%;
  margin: 3px 0;
}
.how-it-works-sub p {
  font-size: 75%;
}
.how-it-works img {
  width: 140px;
}
.security-notice {
  background: #f1f1f1;
  padding: 10px;
  border-radius: 12px;
  margin: 30px 0;
}
.security-seal {
  display: block;
  margin: 0 auto 20px auto;
}
.tenant-tiny-details {
  font-size: 75%;
  margin-top: 10px;
  text-align: center;
}
.search-box {
  max-width: 400px;
}
.inline-inputs label {
  float: left;
  margin-top: 5px;
}
.inline-inputs input {
  float: left;
  max-width: 300px;
}
.delete {
  color: #E15E5B;
  position: absolute;
  font-size: 20pt;
  top: 3px;
  right: -24px;
}
.deletable {
  position: relative;
}
ul.dropdown-menu a {
  border: none;
}
.center {
  text-align: center;
}
@media only screen and (max-width: 1100px) {
  .property-section {
    display: block;
    margin-bottom: 0;
    width: 100%;
  }
  #multi-progress {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    margin: 30px auto;
  }
  #multi-progress:after {
    width: 70%;
  }
  #multi-progress.four-items .item {
    margin-right: 15px;
  }
  #multi-progress.four-items .item:last-child {
    margin-right: 0;
  }
}
@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 230%;
  }
  h2 {
    font-size: 210%;
  }
  h1 {
    font-size: 250%;
  }
  h3 {
    font-size: 170%;
  }
  h4 {
    font-size: 130%;
  }
  p.large {
    font-size: 150%;
  }
  p.medium {
    font-size: 140%;
  }
  p.small {
    font-size: 120%;
  }
  .btn-large {
    font-size: 150%;
    height: 56px;
    line-height: 56px;
  }
  .btn-medium {
    font-size: 110%;
    height: 46px;
    line-height: 46px;
  }
  .need-help {
    display: none;
  }
  .rent-status td.name {
    min-width: 0;
  }
  .add-property {
    position: relative;
    top: 0;
    left: 0;
  }
  .how-it-works {
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 250%;
  }
  h2 {
    font-size: 220%;
  }
  p.large {
    font-size: 130%;
  }
  p.medium {
    font-size: 120%;
  }
  p.small {
    font-size: 110%;
  }
  .management-agreement li {
    margin: 30px auto;
  }
}
@media only screen and (max-width: 767px) {
  #wrapper {
    padding-left: 0;
  }
  #sidebar {
    left: -250px;
    position: fixed;
    border-radius: 0;
  }
  #sidebar.sidebar-open {
    left: 0px;
  }
  .sidebar-nav > .sidebar-brand,
  .sidebar-nav > .sidebar-brand a,
  .sidebar-nav > .sidebar-brand a:hover {
    height: 180px;
  }
  #content {
    position: relative;
    left: 0;
    padding: 0;
    height: 100%;
  }
  #content.sidebar-open {
    left: 250px;
  }
  #content,
  #sidebar {
    transition: all .15s linear;
  }
  #mobile-header {
    display: block;
    position: fixed;
    width: 100%;
    height: 60px;
    background: #3ab4ad;
    text-align: center;
    line-height: 60px;
    color: #f9f9f9;
    font-weight: 400;
    font-size: 140%;
    z-index: 1000;
  }
  #mobile-wrapper {
    padding: 70px 10px 10px 10px;
  }
  #menu-toggle {
    display: inline-block;
    position: absolute;
    left: 0px;
    padding: 0px 20px;
    color: #f9f9f9;
    border: 0;
  }
  ul.properties {
    padding: 0;
    max-width: 100%;
    margin: 0;
  }
  ul.properties li {
    margin-left: 0;
  }
  #add-property {
    position: fixed;
    margin: 0 5%;
    width: 90%;
    max-width: 90%;
    top: 50px;
    left: 0;
    padding: 150px 10px 10px 10px;
    background-size: 150px auto;
    background-position: center 10px;
    background-repeat: no-repeat;
  }
  #add-property h3 {
    text-align: center;
  }
  .close-add-property {
    margin-top: 20px;
    margin-left: 0;
    text-align: center;
  }
  table.rent-status {
    width: 100%;
    min-width: 0;
    white-space: normal;
    font-size: 85%;
  }
  .rent-status td.month,
  .rent-status-header td {
    white-space: normal;
  }
  .rent-status-header td {
    font-size: 80%;
    line-height: 120%;
  }
  .rent-status td.status {
    padding: 10px 0;
  }
  .rent-status td:nth-child(2) {
    display: none;
  }
  slick button.slick-next,
  slick button.slick-prev {
    display: none !important;
  }
}
@media only screen and (max-width: 500px) {
  .col-xs-1,
  .col-sm-1,
  .col-md-1,
  .col-lg-1,
  .col-xs-2,
  .col-sm-2,
  .col-md-2,
  .col-lg-2,
  .col-xs-3,
  .col-sm-3,
  .col-md-3,
  .col-lg-3,
  .col-xs-4,
  .col-sm-4,
  .col-md-4,
  .col-lg-4,
  .col-xs-5,
  .col-sm-5,
  .col-md-5,
  .col-lg-5,
  .col-xs-6,
  .col-sm-6,
  .col-md-6,
  .col-lg-6,
  .col-xs-7,
  .col-sm-7,
  .col-md-7,
  .col-lg-7,
  .col-xs-8,
  .col-sm-8,
  .col-md-8,
  .col-lg-8,
  .col-xs-9,
  .col-sm-9,
  .col-md-9,
  .col-lg-9,
  .col-xs-10,
  .col-sm-10,
  .col-md-10,
  .col-lg-10,
  .col-xs-11,
  .col-sm-11,
  .col-md-11,
  .col-lg-11,
  .col-xs-12,
  .col-sm-12,
  .col-md-12,
  .col-lg-12 {
    padding: 0;
  }
  .centered-logo {
    display: block;
    margin: 0 auto;
    width: 120px;
  }
  h1 {
    font-size: 190%;
  }
  h2 {
    font-size: 150%;
  }
  h3 {
    font-size: 140%;
  }
  h4 {
    font-size: 110%;
  }
  p.large {
    font-size: 140%;
  }
  p.medium {
    font-size: 120%;
  }
  p.small {
    font-size: 110%;
  }
  .both-names-input fieldset {
    margin-right: 10px;
  }
  .date-input fieldset:first-child,
  .date-input fieldset:nth-child(2) {
    width: 21%;
  }
  .date-input fieldset:nth-child(3) {
    width: 45%;
  }
  .credit-card {
    max-width: 100%;
    margin: 20px auto;
  }
  .btn-large {
    font-size: 120%;
    height: 46px;
    line-height: 46px;
  }
  .btn-medium {
    font-size: 105%;
    height: 44px;
    line-height: 44px;
  }
  .password-requirements .requirement {
    width: 100%;
    display: block;
  }
  .password-requirements .requirement:nth-child(even) {
    text-align: left;
  }
  .first-run-steps {
    font-size: 100%;
  }
  table.rent-status {
    max-width: 320px;
  }
  .how-it-works {
    width: 260px;
    margin: 20px auto;
  }
  .how-it-works-sub {
    display: block;
    margin: 0 auto 20px;
  }
  .how-it-works-sub:nth-child(3) {
    margin-bottom: 0;
  }
}
