<h2>Add a Property</h2>

<div class="solo-form left">

  <!-- Basic Information -->
  <form name="addproperty1" ng-submit="submit()" ng-if="currentStep === addPropertySteps[0]">

    <fieldset>
      <label for="property-address">Property address:</label>
      <input ng-model="newProperty.street" name="property-address" type="text" placeholder="Street Address" required>
    </fieldset>

    <div class="address-input">
      <fieldset>
        <input ng-model="newProperty.city" name="city" type="text" placeholder="City" required>
      </fieldset>

      <fieldset>
        <select ng-model="newProperty.stateAbbreviation" name="state" required ng-options="o as o for o in availableStates"></select>
      </fieldset>

      <fieldset>
        <input ng-model="newProperty.zip" name="zip-code" type="text" class="zipcode" placeholder="ZIP" required numeric ng-minlength="5" ng-maxlength="5">
      </fieldset>
    </div><!--address-input-->

    <fieldset>
      <label for="what-type">What kind of property is this?</label>
      <select ng-model="newProperty.type" name="what-type" required ng-options="o as o for o in propertyTypes">
      </select>
    </fieldset>

    <fieldset ng-show="newProperty.type == 'Other'">
      <input ng-model="newProperty.otherType" type="text" name="if-other-what" placeholder="Please elaborate...">
    </fieldset>

    <fieldset>
      <label for="ownership-duration">For how long have you owned this property?</label>
      <select ng-model="newProperty.ownershipDuration" name="what-type" required ng-options="o as o for o in ownershipDurations"></select>
    </fieldset>

    <button class="btn btn-green btn-medium">Save and Continue</button>

  </form>


  <!-- Management Agreement -->
  <form name="addproperty2" ng-submit="submit()" ng-if="currentStep === addPropertySteps[1]">

    <p class="small agreement-intro">Here&rsquo;s our management agreement. Please read it carefully, then sign by typing your name in the box at the bottom of this page.</p>

    <management-agreement></management-agreement>

    <p>To sign this agreement, type your name as it appears below and click &ldquo;Sign and Continue.&rdquo;</p>

    <fieldset>
      <input type="text" placeholder="Your name here" required ng-model="newProperty.agreement.signor" ng-pattern="{{ user.profile.firstName + ' ' + user.profile.lastName }}" validation-msg-pattern="Please type your name exactly as it appears below">
      <span>{{ user.profile.firstName }} {{ user.profile.lastName }}</span>
    </fieldset>

    <button class="btn btn-green btn-medium">Sign and Continue</button>

  </form>


  <!-- Tenants -->
  <form name="addproperty3" ng-submit="submit()" ng-if="currentStep === addPropertySteps[2]">

    <fieldset>
      <label for="has-tenants">Does this property currently have tenants?</label>
      <div class="one-line-radio">
        <input ng-model="newProperty.occupied" ng-value="true" type="radio" name="known-issues" id="has-tenants-yes" required><label for="has-tenants-yes">Yes</label>
        <input ng-model="newProperty.occupied" ng-value="false" type="radio" name="known-issues" id="has-tenants-no" required><label for="has-tenants-no">No</label>
      </div><!--one-line-radio-->
    </fieldset>

    <div ng-show="newProperty.occupied">
      <div ng-repeat="tenant in newProperty.newTenants" class="deletable">
        <i ng-click="deleteTenant($index)" class="fa fa-times delete" ng-show="$index !== 0"></i>
        <div class="both-names-input">
          <fieldset>
            <label for="first-name">Tenant&rsquo;s name:</label>
            <input type="text" name="first-name" placeholder="First" ng-model="tenant.firstName" ng-required="newProperty.occupied" />
          </fieldset>

          <fieldset>
            <label for="last-name"></label>
            <input type="text" name="last-name" placeholder="Last" ng-model="tenant.lastName" ng-required="newProperty.occupied">
          </fieldset>
        </div><!--both-names-input-->

        <fieldset>
          <label for="tenant-phone">Tenant&rsquo;s phone number:</label>
          <input ng-model="tenant.phoneNumber" type="tel" name="tenant-phone" ui-mask="(999) 999-9999">
        </fieldset>

        <fieldset>
          <label for="tenant-email">Tenant&rsquo;s email address:</label>
          <input ng-model="tenant.email" type="email" name="tenant-email">
        </fieldset>

        <fieldset class="money">
          <label for="current-rent">What is {{ tenant.firstName ? tenant.firstName + '\'s' : 'their' }} current monthly rent?</label>
          <input ng-model="tenant.rent.share" type="number" name="current-rent">
        </fieldset>
      </div>

      <a ng-click="addTenant()" class="btn"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;&nbsp;Add Another Tenant</a>
    </div>

    <fieldset ng-show="newProperty.occupied === false" class="ng-hide">
      <label for="had-tenants">Has this property ever had tenants?</label>
      <div class="one-line-radio">
        <input ng-model="newProperty.everHadTenants" ng-value="true" type="radio" name="had-tenants" id="had-tenants-yes" ng-required="newProperty.occupied === false"><label for="had-tenants-yes">Yes</label>
        <input ng-model="newProperty.everHadTenants" ng-value="false" type="radio" name="had-tenants" id="had-tenants-no" ng-required="newProperty.occupied === false"><label for="had-tenants-no">No</label>
      </div><!--one-line-radio-->
    </fieldset>

    <fieldset ng-show="newProperty.occupied || newProperty.everHadTenants">
      <label for="current-lease">If you have it, please upload a copy of the property&rsquo;s most recent lease.</label>
      <file-input for="newProperty.lease"></file-input>
    </fieldset>

    <button class="btn btn-green btn-medium">Save and Continue</button>

  </form>


  <!-- Maintenance & Utilities -->
  <form name="addproperty4" ng-submit="submit()" ng-if="currentStep === addPropertySteps[3]">

    <fieldset>
      <label for="known-issues">Does this property have any known maintenance issues?</label>
      <div class="one-line-radio">
        <input ng-model="newProperty.hasKnownIssues" ng-value="true" type="radio" name="known-issues" id="known-issues-yes" required><label for="known-issues-yes">Yes</label>
        <input ng-model="newProperty.hasKnownIssues" ng-value="false" type="radio" name="known-issues" id="known-issues-no" required=""><label for="known-issues-no">No</label>
      </div><!--one-line-radio-->
    </fieldset>

    <fieldset ng-show="newProperty.hasKnownIssues">
      <textarea ng-model="newProperty.knownIssuesDetails" name="known-issues-details" placeholder="Please elaborate..."></textarea>
    </fieldset>

    <fieldset>
      <label for="utilities-name">In whose name are the utilities at this property?</label>
      <input ng-model="newProperty.utilitiesName" type="text" name="utilities-name">
    </fieldset>

    <fieldset>
      <label for="utility-bills">Does this property have any unpaid utility bills or utility shutoffs?</label>
      <div class="one-line-radio">
        <input ng-model="newProperty.hasUnpaidUtilities" ng-value="true" type="radio" name="utility-bills" id="utility-bills-yes" required=""><label for="utility-bills-yes">Yes</label>
        <input ng-model="newProperty.hasUnpaidUtilities" ng-value="false" type="radio" name="utility-bills" id="utility-bills-no" required=""><label for="utility-bills-no">No</label>
      </div><!--one-line-radio-->
    </fieldset>

    <fieldset ng-show="newProperty.hasUnpaidUtilities">
      <textarea ng-model="newProperty.unpaidUtilitiesDetails" name="utility-bills-details" placeholder="Please elaborate..."></textarea>
    </fieldset>

    <fieldset>
      <label for="utility-providers">Who are the utility providers for this property?</label>
      <table class="utility-providers">
        <tbody><tr>
            <td><label for="utility-heat">Heat:</label></td>
            <td><input ng-model="newProperty.utilities.heat" type="text" name="utility-heat"></td>
          </tr>
          <tr>
            <td><label for="utility-electric">Electric:</label></td>
            <td><input ng-model="newProperty.utilities.electric" type="text" name="utility-electric"></td>
          </tr>
          <tr>
            <td><label for="utility-water">Water:</label></td>
            <td><input ng-model="newProperty.utilities.water" type="text" name="utility-water"></td>
          </tr>
          <tr>
            <td><label for="utility-sewage">Sewage:</label></td>
            <td><input ng-model="newProperty.utilities.sewage" type="text" name="utility-sewage"></td>
          </tr>
        </tbody></table>
    </fieldset>

    <fieldset>
      <label for="has-tenants">Do you have a Certificate of Occupancy for this property?</label>
      <div class="one-line-radio">
        <input ng-model="newProperty.hasCertificateOfOccupancy" ng-value="true" type="radio" name="has-coo" id="has-coo-yes" required><label for="has-coo-yes">Yes</label>
        <input ng-model="newProperty.hasCertificateOfOccupancy" ng-value="false" type="radio" name="has-coo" id="has-coo-no" required><label for="has-coo-no">No</label>
      </div><!--one-line-radio-->
    </fieldset>

    <fieldset>
      <label for="hasPaidTaxes">Are you up-to-date on your taxes for this property?</label>
      <div class="one-line-radio">
        <input ng-model="newProperty.hasPaidTaxes" ng-value="true" type="radio" name="paid-taxes" id="paid-taxes-yes" required><label for="paid-taxes-yes">Yes</label>
        <input ng-model="newProperty.hasPaidTaxes" ng-value="false" type="radio" name="paid-taxes" id="paid-taxes-no" required><label for="paid-taxes-no">No</label>
      </div><!--one-line-radio-->
    </fieldset>

    <fieldset>
      <label for="anything-else">Anything else we should know?</label>
      <textarea ng-model="newProperty.additionalComments" id="anthing-else"></textarea>
    </fieldset>

    <button class="btn btn-green btn-medium">Save and Complete</button>

  </form>

</div>
