<h2>Add a Property</h2>

<div class="solo-form left">

  <!-- Basic Information -->
  <form name="addproperty1" ng-submit="submit()" ng-if="currentStep === addPropertySteps[0]">

    <fieldset>
      <label for="property-address">Property address:</label>
      <input ng-model="newProperty.street" name="property-address" type="text" placeholder="Street Address" required>
    </fieldset>

    <div class="address-input">
      <fieldset>
        <input ng-model="newProperty.city" name="city" type="text" placeholder="City" required>
      </fieldset>

      <fieldset>
        <select ng-model="newProperty.stateAbbreviation" name="state" required ng-options="o as o for o in availableStates"></select>
      </fieldset>

      <fieldset>
        <input ng-model="newProperty.zip" name="zip-code" type="text" class="zipcode" placeholder="ZIP" required numeric ng-minlength="5" ng-maxlength="5">
      </fieldset>
    </div><!--address-input-->

    <fieldset>
      <label for="what-type">What kind of property is this?</label>
      <select ng-model="newProperty.type" name="what-type" required ng-options="o as o for o in propertyTypes">
      </select>
    </fieldset>

    <fieldset ng-show="newProperty.type == 'Other'">
      <input ng-model="newProperty.otherType" type="text" name="if-other-what" placeholder="Please elaborate...">
    </fieldset>

    <fieldset>
      <label for="ownership-duration">For how long have you owned this property?</label>
      <select ng-model="newProperty.ownershipDuration" name="what-type" required ng-options="o as o for o in ownershipDurations"></select>
    </fieldset>

    <fieldset>
      <label for="who-has-keys">Who has the keys to this property?</label>
      <select name="who-has-keys" ng-model="newProperty.keys.heldByOwner" ng-options="item.value as item.label for item in keysHeldByOwnerOptions" required></select>
    </fieldset>
    <fieldset ng-show="newProperty.keys.heldByOwner === false">
      <label for="keys-details">Who are they, and how can we contact them?</label>
      <textarea ng-model="newProperty.keys.heldBy" name="keys-details"></textarea>
    </fieldset>

    <button class="btn btn-green btn-medium">Save and Continue</button>

  </form>


  <!-- Management Agreement -->
  <form name="addproperty2" ng-submit="submit()" ng-if="currentStep === addPropertySteps[1]">

    <p class="small agreement-intro">Here&rsquo;s our management agreement. Please read it carefully, then sign by typing your name in the box at the bottom of this page.</p>

    <management-agreement></management-agreement>

    <p>To sign this agreement, type your name as it appears below and click &ldquo;Sign and Continue.&rdquo;</p>

    <fieldset>
      <input type="text" placeholder="Your name here" required ng-model="newProperty.agreement.signor" ng-pattern="{{ user.profile.firstName + ' ' + user.profile.lastName }}" validation-msg-pattern="Please type your name exactly as it appears below">
      <span>{{ user.profile.firstName }} {{ user.profile.lastName }}</span>
    </fieldset>

    <button class="btn btn-green btn-medium">Sign and Continue</button>

  </form>


  <!-- Tenants -->
  <form name="addproperty3" ng-submit="submit()" ng-if="currentStep === addPropertySteps[2]">

    <fieldset>
      <label for="has-tenants">Does this property currently have tenants?</label>
      <div class="one-line-radio">
        <input ng-model="newProperty.occupied" ng-value="true" type="radio" name="known-issues" id="has-tenants-yes" required><label for="has-tenants-yes">Yes</label>
        <input ng-model="newProperty.occupied" ng-value="false" type="radio" name="known-issues" id="has-tenants-no" required><label for="has-tenants-no">No</label>
      </div><!--one-line-radio-->
    </fieldset>

    <div ng-show="newProperty.occupied">
      <div ng-repeat="tenant in newProperty.newTenants" class="deletable">
        <i ng-click="deleteTenant($index)" class="fa fa-times delete" ng-show="$index !== 0"></i>
        <div class="both-names-input">
          <fieldset>
            <label for="first-name">Tenant&rsquo;s name:</label>
            <input type="text" name="first-name" placeholder="First" ng-model="tenant.firstName" ng-required="newProperty.occupied" />
          </fieldset>

          <fieldset>
            <label for="last-name"></label>
            <input type="text" name="last-name" placeholder="Last" ng-model="tenant.lastName" ng-required="newProperty.occupied">
          </fieldset>
        </div><!--both-names-input-->

        <fieldset>
          <label for="tenant-phone">Tenant&rsquo;s phone number:</label>
          <input ng-model="tenant.phoneNumber" type="tel" name="tenant-phone" ui-mask="(999) 999-9999">
        </fieldset>

        <fieldset>
          <label for="tenant-email">Tenant&rsquo;s email address:</label>
          <input ng-model="tenant.email" type="email" name="tenant-email">
        </fieldset>

        <fieldset class="money">
          <label for="current-rent">What is {{ tenant.firstName ? tenant.firstName + '\'s' : 'their' }} current monthly rent?</label>
          <input ng-model="tenant.rent.share" type="number" name="current-rent">
        </fieldset>

        <fieldset>
          <label for="is-rent-late">Is the rent late?</label>
          <div class="one-line-radio">
            <input type="radio" ng-model="tenant.rent.status" ng-value="'late'" name="is-rent-late" id="is-rent-late-yes" ng-required="newProperty.occupied" ><label for="is-rent-late-yes">Yes</label>
            <input type="radio" ng-model="tenant.rent.status" ng-value="'paid'" name="is-rent-late" id="is-rent-late-no" ng-required="newProperty.occupied" ><label for="is-rent-late-no">No</label>
          </div><!--one-line-radio-->
        </fieldset>

        <fieldset class="money" ng-show="tenant.rent.status === 'late'">
          <label for="rent-late-amount">How much back rent is due?</label>
          <input type="number" ng-model="tenant.rent.lateAmount" name="rent-late-amount">
        </fieldset>

        <fieldset ng-show="tenant.rent.status === 'paid'">
          <label for="rent-due-next">When is rent due next?</label>
          <input type="text" ng-model="tenant.rent.dueNext" name="rent-due-next">
        </fieldset>

        <fieldset>
          <label for="security-deposit">Did this tenant pay a security deposit?</label>
          <div class="one-line-radio">
            <input type="radio" ng-model="tenant.securityDeposit.paid" ng-value="true" name="security-deposit" id="security-deposit-yes" ng-required="newProperty.occupied"><label for="security-deposit-yes">Yes</label>
            <input type="radio" ng-model="tenant.securityDeposit.paid" ng-value="false" name="security-deposit" id="security-deposit-no" ng-required="newProperty.occupied"><label for="security-deposit-no">No</label>
          </div><!--one-line-radio-->
        </fieldset>

        <fieldset class="money" ng-show="tenant.securityDeposit.paid">
          <label for="security-deposit-amount">How much was it?</label>
          <input type="number" ng-model="tenant.securityDeposit.amount" name="security-deposit-amount">
        </fieldset>
        <fieldset ng-show="tenant.securityDeposit.paid">
          <label for="security-deposit-owner">Who has it now?</label>
          <input type="text" ng-model="tenant.securityDeposit.heldBy" name="security-deposit-owner">
        </fieldset>
      </div>

      <a ng-click="addTenant()" class="btn"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;&nbsp;Add Another Tenant</a>
    </div>

    <fieldset ng-show="newProperty.occupied === false" class="ng-hide">
      <label for="had-tenants">Has this property ever had tenants?</label>
      <div class="one-line-radio">
        <input ng-model="newProperty.everHadTenants" ng-value="true" type="radio" name="had-tenants" id="had-tenants-yes" ng-required="newProperty.occupied === false"><label for="had-tenants-yes">Yes</label>
        <input ng-model="newProperty.everHadTenants" ng-value="false" type="radio" name="had-tenants" id="had-tenants-no" ng-required="newProperty.occupied === false"><label for="had-tenants-no">No</label>
      </div><!--one-line-radio-->
    </fieldset>

    <fieldset ng-show="newProperty.occupied || newProperty.everHadTenants">
      <label for="current-lease">If you have it, please upload a copy of the property&rsquo;s most recent lease.</label>
      <file-input for="newProperty.lease"></file-input>
    </fieldset>

    <button class="btn btn-green btn-medium">Save and Continue</button>

  </form>


  <!-- Maintenance & Utilities -->
  <form name="addproperty4" ng-submit="submit()" ng-if="currentStep === addPropertySteps[3]">

    <fieldset>
      <label for="known-issues">Does this property have any known maintenance issues?</label>
      <div class="one-line-radio">
        <input ng-model="newProperty.hasKnownIssues" ng-value="true" type="radio" name="known-issues" id="known-issues-yes" required><label for="known-issues-yes">Yes</label>
        <input ng-model="newProperty.hasKnownIssues" ng-value="false" type="radio" name="known-issues" id="known-issues-no" required=""><label for="known-issues-no">No</label>
      </div><!--one-line-radio-->
    </fieldset>

    <fieldset ng-show="newProperty.hasKnownIssues">
      <textarea ng-model="newProperty.knownIssuesDetails" name="known-issues-details" placeholder="Please elaborate..."></textarea>
    </fieldset>

    <fieldset>
      <label for="utility-bills">Does this property have any unpaid utility bills or utility shutoffs?</label>
      <div class="one-line-radio">
        <input ng-model="newProperty.hasUnpaidUtilities" ng-value="true" type="radio" name="utility-bills" id="utility-bills-yes" required=""><label for="utility-bills-yes">Yes</label>
        <input ng-model="newProperty.hasUnpaidUtilities" ng-value="false" type="radio" name="utility-bills" id="utility-bills-no" required=""><label for="utility-bills-no">No</label>
      </div><!--one-line-radio-->
    </fieldset>

    <fieldset ng-show="newProperty.hasUnpaidUtilities">
      <textarea ng-model="newProperty.unpaidUtilitiesDetails" name="utility-bills-details" placeholder="Please elaborate..."></textarea>
    </fieldset>

    <fieldset>
      <label for="utility-providers">For each utility below, please let us know who the utility provider is and whose name the bill is in.</label>
      <table class="utility-providers">
        <tr>
          <td><label for="utility-heat">Heat:</label></td>
        </tr>
        <tr>
          <td><input ng-model="newProperty.utilities.heat.provider" type="text" name="utility-heat" placeholder="Provider" /></td>
          <td><input ng-model="newProperty.utilities.heat.nameOnBill" type="text" name="utility-heat-name" placeholder="Name on bill" /></td>
        </tr>
        <tr>
          <td><label for="utility-electric">Electric:</label></td>
        </tr>
        <tr>
          <td><input ng-model="newProperty.utilities.electric.provider" type="text" name="utility-electric" placeholder="Provider" /></td>
          <td><input ng-model="newProperty.utilities.electric.nameOnBill" type="text" name="utility-electric-name" placeholder="Name on bill" /></td>
        </tr>

        <tr>
          <td><label for="utility-water">Water:</label></td>
        </tr>
        <tr>
          <td><input ng-model="newProperty.utilities.water.provider" type="text" name="utility-water" placeholder="Provider" /></td>
          <td><input ng-model="newProperty.utilities.water.nameOnBill" type="text" name="utility-water-name" placeholder="Name on bill" /></td>
        </tr>

        <tr>
          <td><label for="utility-sewage">Sewage:</label></td>
        </tr>
        <tr>
          <td><input ng-model="newProperty.utilities.sewage.provider" type="text" name="utility-sewage" placeholder="Provider" /></td>
          <td><input ng-model="newProperty.utilities.sewage.nameOnBill" type="text" name="utility-sewage-name" placeholder="Name on bill" /></td>
        </tr>

      </table>
    </fieldset>

    <fieldset ng-show="!newProperty.occupied">
      <label for="has-laundry">Does this property have a washer and dryer?</label>
      <div class="multi-line-radio">
        <input type="radio" ng-model="newProperty.laundry" ng-value="'Yes, in-unit'" name="has-laundry" id="has-laundry-in-unit" ng-required="!newProperty.occupied"><label for="has-tenants-in-unit">Yes, in-unit</label>
      </div><!--multi-line-radio-->
      <div class="multi-line-radio">
        <input type="radio" ng-model="newProperty.laundry" ng-value="'Yes, shared with other tenants'" name="has-laundry" id="has-laundry-shared" ng-required="!newProperty.occupied"><label for="has-laundry-shared">Yes, shared with other tenants</label>
      </div><!--multi-line-radio-->
      <div class="multi-line-radio">
        <input type="radio" ng-model="newProperty.laundry" ng-value="'No'" name="has-laundry" id="has-laundry-no" ng-required="!newProperty.occupied"><label for="has-laundry-no">No</label>
      </div><!--multi-line-radio-->
    </fieldset>

    <fieldset>
      <label for="has-tenants">Do you have a Certificate of Occupancy for this property?</label>
      <div class="one-line-radio">
        <input ng-model="newProperty.hasCertificateOfOccupancy" ng-value="true" type="radio" name="has-coo" id="has-coo-yes" required><label for="has-coo-yes">Yes</label>
        <input ng-model="newProperty.hasCertificateOfOccupancy" ng-value="false" type="radio" name="has-coo" id="has-coo-no" required><label for="has-coo-no">No</label>
      </div><!--one-line-radio-->
    </fieldset>

    <fieldset>
      <label for="hasPaidTaxes">Are you up-to-date on your taxes for this property?</label>
      <div class="one-line-radio">
        <input ng-model="newProperty.hasPaidTaxes" ng-value="true" type="radio" name="paid-taxes" id="paid-taxes-yes" required><label for="paid-taxes-yes">Yes</label>
        <input ng-model="newProperty.hasPaidTaxes" ng-value="false" type="radio" name="paid-taxes" id="paid-taxes-no" required><label for="paid-taxes-no">No</label>
      </div><!--one-line-radio-->
    </fieldset>

    <fieldset>
      <label for="anything-else">Anything else we should know?</label>
      <textarea ng-model="newProperty.additionalComments" id="anthing-else"></textarea>
    </fieldset>

    <button class="btn btn-green btn-medium">Save and Complete</button>

  </form>

</div>
