<div class="solo-form left">

  <form name="credit-card" stripe-form="callback">

    <fieldset>
     <label for="name">Your name (as it appears on your card):</label>
     <input type="text" name="name" placeholder="Ralph Rental" ng-model="cardholder.fullName" required>
    </fieldset>

    <div class="credit-card">

     <fieldset class="secure-fieldset">
      <label for="name">Card number:</label>
      <input type="tel" name="card-number" ng-model="number" ui-mask="9999-9999-9999-9999" required> <i class="fa fa-lock"></i>
     </fieldset>

     <div class="expiration-and-code">

      <fieldset class="expiration-date">
        <label for="name">Expiration date:</label>
        <input type="tel" name="expiration-month" placeholder="MM" maxlength="2" ng-model="expiryMonth" numeric required>
        <input type="tel" name="expiration-year" placeholder="YYYY" maxlength="4" ng-model="expiryYear" numeric required>
      </fieldset>

      <fieldset class="cvv-code">
        <label for="name">CVV code:</label>
        <input type="tel" name="security-code" maxlength="4" ng-model="cvc" numeric required>
      </fieldset>

     </div><!--expiration-and-code-->

    </div><!--credit-card-->

    <errors></errors>

    <button id="credit-card-submit-button" class="btn btn-medium btn-green">Save My Payment Information</button>

  </form>

</div><!--solo-form left-->
