<div>

  <div class="sticky-footer-wrapper">
    <div ng-transclude></div>

    <div class="sticky-footer-push"></div>
  </div>

  <div class="sticky-footer cityscape">
    <div class="signup-footer">
      <a href="http://entercastle.com" class="home-link">Castle</a>
      <p>With <i class="fa fa-heart footer-heart"></i> from Detroit <span class="spacer">&bull;</span> <a href="http://entercastle.com/termsofservice">Terms of Service</a></p>
      <p>© 2014 All Rights Reserved. Have a great day!</p>
    </div><!--signup-footer-->
  </div>

</div>
