<div>
  <form ng-hide="submitted" name="inherited" ng-submit="submit()">

    <fieldset>
      <label for="property-address">Address of rental property:</label>
      <input type="text" name="property-address" placeholder="123 Main St" ng-model="address" required>
    </fieldset>
    <div class="both-names-input">
      <fieldset>
        <label for="firstname">Your name:</label>
        <input type="text" name="firstname" placeholder="Tommy" ng-model="tenant.firstName" required>
      </fieldset>

      <fieldset>
        <label for="lastname"></label>
        <input type="text" name="lastname" placeholder="Tenant" ng-model="tenant.lastName" required>
      </fieldset>
    </div>

    <fieldset>
      <label for="email">Your email address:</label>
      <input type="email" name="email" placeholder="tommytenant@gmail.com" ng-model="tenant.email" required>
      <div class="help-text">We won&rsquo;t send you spam or anything lame</div>
    </fieldset>

    <fieldset>
      <label for="phone">Your cell phone number:</label>
      <input type="tel" name="phone" ui-mask="(999) 999-9999" ng-model="tenant.phoneNumber" required>
    </fieldset>

    <fieldset>
      <label for="otheroccupants">Name(s) of other occupant(s):</label>
      <input type="text" name="otheroccupants" placeholder="Tammy Tenant, Teddy Tenant" ng-model="tenant.otherOccupants">
    </fieldset>

    <fieldset>
      <label for="pets">Name(s) and type(s) of pet(s):</label>
      <input type="text" name="pets" placeholder="Rex, Dog; Shirley, Cat" ng-model="tenant.pets">
    </fieldset>

    <fieldset>
      <label for="onlease">Are you on a lease?:</label>
      <div class="one-line-radio">
        <input type="radio" name="onlease" ng-value="true" ng-model="tenant.onLease" id="on-lease-yes" required><label for="on-lease-yes">Yes</label>
        <input type="radio" name="onlease" ng-value="false" ng-model="tenant.onLease" id="on-lease-no" required><label for="on-lease-no">No</label>
      </div><!--one-line-radio-->
    </fieldset>

    <fieldset class="money" ng-show="tenant.onLease">
      <label for="rent">Rent amount:</label>
      <input type="number" name="rent" ng-model="tenant.rentAmount" ng-required="tenant.onLease">
    </fieldset>

    <fieldset ng-show="tenant.onLease">
      <label for="lease">Please upload a copy of your lease</label>
      <file-input for="tenant.lease"></file-input>
    </fieldset>

    <errors></errors>

    <button type="submit" class="btn btn-medium btn-green">Submit Application &rarr;</button>

  </form>

</div>
