<form name="login" ng-submit="submit(user)">

  <fieldset>
    <label for="email">Email address:</label>
    <input type="email" name="email" ng-model="user.email" placeholder="" required/>
  </fieldset>

  <fieldset>
    <label for="password">Password:</label>
    <!--<div class="top-help-text"><a href="forgot_password.html" tabindex="-1">Forgot?</a></div>-->
    <input type="password" name="password" ng-model="user.password" placeholder="" required/>
  </fieldset>

  <errors></errors>

  <button id="login-submit-button" type="submit" class="btn btn-medium btn-green">Log In</button>

  <p class="form-bottom-link">Don&rsquo;t have an account? <a href="#/signup">Create one</a>.</p>

  <p class="form-bottom-link">Forgot your password? <a href="#/password-reset/send">Reset it</a>.</p>

</form>
