<form name="login" ng-submit="submit(user)">

  <fieldset>
    <label for="email">Email address:</label>
    <input type="email" name="email" ng-model="user.email" placeholder="" />
  </fieldset>

  <fieldset>
    <label for="password">Password:</label>
    <!--<div class="top-help-text"><a href="forgot_password.html" tabindex="-1">Forgot?</a></div>-->
    <input type="password" name="password" ng-model="user.password" placeholder="" />
  </fieldset>

  <errors></errors>

  <button type="submit" class="btn btn-medium btn-green">Log In</button>

</form>
