<div>
  <form ng-hide="submitted" name="prescreen" ng-submit="submit()">

    <fieldset>
      <label for="property-address">Address of rental property:</label>
      <input type="text" name="property-address" placeholder="123 Main St" ng-model="propertyAddress" required>
    </fieldset>
    <div class="both-names-input">
      <fieldset>
        <label for="first-name">Your name:</label>
        <input type="text" name="first-name" placeholder="Tommy" ng-model="applicant.firstName" required>
      </fieldset>

      <fieldset>
        <label for="last-name"></label>
        <input type="text" name="last-name" placeholder="Tenant" ng-model="applicant.lastName" required>
      </fieldset>
    </div>

    <fieldset>
      <label for="email-address">Your email address:</label>
      <input type="email" name="email-address" placeholder="tommytenant@gmail.com" ng-model="applicant.email" required>
      <div class="help-text">We won&rsquo;t send you spam or anything lame</div>
    </fieldset>

    <fieldset>
      <label for="phone-number">Your cell phone number:</label>
      <input type="tel" name="phone-number" ui-mask="(999) 999-9999" ng-model="applicant.phoneNumber" required>
    </fieldset>

    <fieldset>
      <label for="previous-evictions">How many times have you had a landlord file an eviction claim against you?</label>
      <input type="number" min="0" step="1" name="previous-evictions" ng-model="applicant.evictions" id="previous-evictions" required>
    </fieldset>

    <fieldset>
      <label for="smoker">Are you a smoker?</label>
      <div class="one-line-radio">
        <input type="radio" name="smoker" ng-value="true" ng-model="applicant.smoker" id="smoker-yes" required><label for="smoker-yes">Yes</label>
        <input type="radio" name="smoker" ng-value="false" ng-model="applicant.smoker" id="smoker-no" required><label for="smoker-no">No</label>
      </div><!--one-line-radio-->
    </fieldset>

    <fieldset>
      <label for="hasPets">Do you have pets?</label>
      <div class="help-text">Aside from service animals</div>
      <div class="one-line-radio">
        <input type="radio" name="hasPets" ng-value="true" ng-model="applicant.hasPets" id="has-pets-yes" required><label for="has-pets-yes">Yes</label>
        <input type="radio" name="hasPets" ng-value="false" ng-model="applicant.hasPets" id="has-pets-no" required><label for="has-pets-no">No</label>
      </div><!--one-line-radio-->
    </fieldset>

    <fieldset>
      <label for="breaking-lease">Will you be breaking your current lease to live here?</label>
      <div class="one-line-radio">
        <input type="radio" name="breaking-lease" ng-value="true" ng-model="applicant.breakingLease" id="break-lease-yes" required><label for="break-lease-yes">Yes</label>
        <input type="radio" name="breaking-lease" ng-value="false" ng-model="applicant.breakingLease" id="break-lease-no" required><label for="break-lease-no">No</label>
      </div><!--one-line-radio-->
    </fieldset>

    <fieldset class="money">
      <label for="monthly-income">What is your average monthly income?</label>
      <input type="number" ng-model="applicant.monthlyIncome" required>
    </fieldset>

    <fieldset>
      <label for="bank-account">Do you have a bank account?</label>
      <div class="one-line-radio">
        <input type="radio" name="bank-account" ng-value="true" ng-model="applicant.hasBankAccount" id="bank-account-yes" required><label for="bank-account-yes">Yes</label>
        <input type="radio" name="bank-account" ng-value="false" ng-model="applicant.hasBankAccount" id="bank-account-no" required><label for="bank-account-no">No</label>
      </div><!--one-line-radio-->
    </fieldset>

    <fieldset>
	    <input type="checkbox" ng-model="isFirstRental">
      <label for="firstRental">This is my first time renting</label>
    </fieldset>

    <errors></errors>

    <button type="submit" class="btn btn-medium btn-green">Submit Application &rarr;</button>

  </form>

</div>
