<form>

  <fieldset>
    <label for="name">Your name (as it appears on your card):</label>
    <input type="text" name="name" placeholder="Ralph Rental">
  </fieldset>

  <div class="credit-card">

    <fieldset class="secure-fieldset">
      <label for="name">Card number:</label>
      <input type="text" name="card-number" placeholder=""> <i class="fa fa-lock"></i>
    </fieldset>

    <div class="expiration-and-code">

      <fieldset class="expiration-date">
        <label for="name">Expiration date:</label>
        <input type="text" name="expiration-month" placeholder="MM" maxlength="2">
        <input type="text" name="expiration-year" placeholder="YYYY" maxlength="4">
      </fieldset>

      <fieldset class="cvv-code">
        <label for="name">CVV code:</label>
        <input type="text" name="security-code" maxlength="4">
      </fieldset>

    </div><!--expiration-and-code-->

  </div><!--credit-card-->

  <fieldset>
    <label for="name">Billing ZIP code:</label>
    <input type="text" class="zipcode" name="name" maxlength="5">
  </fieldset>


  <button type="submit" class="btn btn-medium btn-green">Save My Payment Information</button>

</form>
