<admin-only>
  <ul class="nav nav-tabs">
    <li role="presentation" ng-class="{ active : !mode.edit }"><a ng-click="mode.edit = false;">Preview</a></li>
    <li role="presentation" ng-class="{ active: mode.edit }"><a ng-click="mode.edit = true;">Edit</a></li>
  </ul>
</admin-only>
<div ng-show="!mode.edit">
  <div class="breadcrumbs">
    <a href="#/properties">Properties</a> <span class="breadcrumb-caret">></span> {{ property.street }}
  </div><!--breadcrumb-->

  <h2>{{ property.street }}</h2>
  <p class="medium property-address">{{ property.city }}, {{ property.stateAbbreviation }} {{ property.zip }}</p>

  <slick infinite="true" slides-to-show="2" slides-to-scroll="1" dots="true" init-onload="true" data="property" class="image-carousel">
    <div ng-repeat="imageUrl in property.images"><img ng-src="{{ imageUrl }}" /></div>
  </slick>
  <div ng-if="!property.images"><img ng-src="{{ property | propertyImageUrl : '500' : '300' }}" /></div>

  <h3>Tenants</h3>
  <div ng-show="tenants.length">
    <table class="tenant-overview">
      <tbody>
        <tr ng-repeat="tenant in tenants">
          <td class="tenant-photo">
            <img ng-show="tenant.picture" ng-src="{{ tenant.picture }}" alt="{{ tenant.firstName + ' ' + tenant.lastName }}">
            <img ng-hide="tenant.picture" src="/images/generic_tenant.png" alt="{{ tenant.firstName + ' ' + tenant.lastName }}">
          </td>
          <td class="tenant-description">
            <span class="tenant-name">{{ tenant.firstName + ' ' + tenant.lastName }}</span>
            <span class="tenant-item" ng-if="tenant.moveInDate">Moved in on: {{ tenant.moveInDate | date }}</span>
            <span class="tenant-item" ng-if="tenant.monthlyIncome">Salary: ${{ tenant.monthlyIncome | number }}/month</span>
            <span class="tenant-item" ng-if="tenant.jobTitle && tenant.employer">Employment: {{ tenant.jobTitle }}, {{ tenant.employer }}</span>
            <span class="tenant-income" ng-if="tenant.rent.share && tenant.monthlyIncome">This property requires {{ tenant.rent.share / tenant.monthlyIncome | percentage }} of {{ tenant.firstName }}&rsquo;s yearly income.</span>
          </td>
        </tr>
      </tbody>
    </table>

    <h3>Rent Status</h3>
    <table class="rent-status rent-status-small">
      <tbody>
        <tr ng-repeat="tenant in tenants">
          <td>{{ tenant.firstName + ' ' + tenant.lastName }}</td>
          <td class="amount">${{ tenant.rent.share | number }}</td>
          <td><div class="rent-circle rent-circle-{{ tenant.rent.status }}"></div></td>
          <td class="status">{{ tenant.rent.label }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p ng-show="!tenants.length">{{ property.street }} is currently vacant.</p>

  <h3>Maintenance</h3>
  <div class="maintenance-status">
    <p ng-repeat="issue in property.issues">{{ issue }}</p>
    <p ng-show="!property.issues">{{ property.street }} currently has no open maintenance issues.</p>
  </div>

  <div class="additional-info" ng-if="property.additionalInfo.length">
    <h3>Alerts</h3>
    <ul>
      <li ng-repeat="info in property.additionalInfo">{{ info }}</li>
    </ul>
  </div>

  <div class="documents" ng-if="property.documents.length">
    <h3>Documents</h3>
    <ul>
      <li ng-repeat="document in property.documents"><a ng-href="{{ document.url }}">{{ document.name }}</a></li>
    </ul>
  </div>
</div>

<div ng-show="mode.edit">
  EDIT ALL THE THINGS
</div>
