<admin-only>
  <div class="row">
    <div class="col-sm-6">
      <h1>{{ owner.fullName }}</h1>
      <dl>
        <dt>Email</dt>
        <dd>{{ owner.email }}</dd>
        <dt>Phone</dt>
        <dd>{{ owner.phoneNumber }}</dd>
        <dt>Credit Card Linked?</dt>
        <dd>{{ owner.isCreditCardLinked  | json }}</dd>
        <dt>Bank Account Linked?</dt>
        <dd>{{ owner.isBankAccountLinked | json }}</dd>
      </dl>
    </div>
    <div class="col-sm-6">
      <div ng-show="owner.isBankAccountLinked">
        <h3>Credit Bank Account</h3>
        <fieldset>
          <fieldset class="money">
            <label for="current-rent">How many dollars would you like to put in their account?</label>
            <input ng-model="creditAmount" type="number" name="current-rent" ng-init="creditAmount = 0;">
          </fieldset>
          <a class="btn btn-danger" ng-click="creditBankAccount(owner.bankAccountId, creditAmount)" ng-disabled="message !== ''">Create Credit</a>
          <p class="help-text" ng-show="message !== ''">{{ message }} <a ng-click="acknowledge()">acknowledge</a></p>
        </fieldset>
      </div>
      <properties-list properties="properties" hide-owners="true"></properties-list>
    </div>
  </div>
</admin-only>
