<admin-only>
<h1>Properties ({{ properties.length }} total)</h1>
  <search-box query="searchQuery"></search-box>
  <table ng-table="tableParams" class="table">
    <tr ng-repeat="property in $data | filter:searchQuery">
      <td data-title="'Street'" sortable="'street'"><a ng-href="#/properties/{{ property.$id }}">{{ property.street }}</a></td>
      <td data-title="'Owner'" sortable="'owner'">{{ property.owner }}</td>
    </tr>
  </table>
</admin-only>
<owner-only>
  <div ng-show="properties.length">
    <notice-bank-account></notice-bank-account>
    <notice-credit-card></notice-credit-card>
    <h2 class="property-hello">Properties</h2>
    <ul class="properties">
      <li ng-repeat="property in properties"><a ng-href="#/properties/{{ property.$id }}"><img ng-src="{{ property | propertyImageUrl : '90' : '90' }}"> {{ property.street }}</a> </li>
      <li class="add-property"><a href="#/properties/add"><i class="fa fa-plus-circle"></i> Add a Property</a></li>
    </ul>
  </div>

  <div ng-show="properties && !properties.length">
    <h2>Welcome, <current-user-name><current-user-name>!</h2>
    <p class="small">To get started, add the properties you'd like Castle to manage. We'll collect the basic information we need, including ownership history and occupancy status.</p>
    <a ng-href="#/properties/add" class="first-run-steps first-run-steps-one">
      Add your first property
    </a>
    <a ng-href="" class="first-run-steps first-run-steps-two first-run-steps-disabled">
      Link your payment information
    </a>
  </div>
</owner-only>
