<h2>742 Evergreen Terrace</h2>
<p class="medium property-address">Detroit, MI 48202</p>

<slick infinite="true" slides-to-show="2" slides-to-scroll="1" dots="true" class="image-carousel">
  <div><img src="//entercastle.com/demo/img/742_evergreen_terrace/overview.jpg" /></div>
  <div><img src="//entercastle.com/demo/img/742_evergreen_terrace/living_room.jpg" /></div>
  <div><img src="//entercastle.com/demo/img/742_evergreen_terrace/dining_room.jpg" /></div>
  <div><img src="//entercastle.com/demo/img/742_evergreen_terrace/kitchen.jpg" /></div>
</slick>

<h3>Tenants</h3>
<table class="tenant-overview">
  <tbody>
    <tr>
      <td class="tenant-photo"><img src="//entercastle.com/demo/img/742_evergreen_terrace/ryan_williams.jpg" alt="Ryan Williams"></td>
      <td class="tenant-description">
        <span class="tenant-name">Ryan Williams</span><br>
        <span class="tenant-item">Tenant for:</span> 3 months<br>
        <span class="tenant-item">Salary:</span> $4,300/month<br>
        <span class="tenant-item">Employment:</span> Product Manager, Chrysler<br>
        <span class="tenant-income">This property requires 23% of Ryan&rsquo;s yearly income.</span>
      </td>
    </tr>
  </tbody>
</table>

<h3>Rent Status</h3>
<table class="rent-status rent-status-small">
  <tbody>
    <tr>
      <td>Ryan Williams</td>
      <td class="amount">$1,400</td>
      <td><div class="rent-circle rent-circle-paid"></div></td>
      <td class="status">Paid 11/31</td>
    </tr>
  </tbody>
</table>

<h3>Maintenance</h3>
<p>742 Evergreen Terrace currently has no open maintenance issues.</p>

<a href="#/properties" class="back">Back to Properties</a>
