<form name="renalApplication" ng-submit="submit()">
  <div class="both-names-input">
    <fieldset>
      <label for="first-name">Your name:</label>
      <input type="text" name="first-name" placeholder="Tommy" ng-model="applicant.firstName" required>
    </fieldset>

    <fieldset>
            <label for="last-name"></label>
            <input type="text" name="last-name" placeholder="Tenant" ng-model="applicant.lastName" required>
    </fieldset>
  </div>

  <fieldset>
    <label for="email-address">Your email address:</label>
    <input type="email" name="email-address" placeholder="tommytenant@gmail.com" ng-model="applicant.email">
    <div class="help-text">We won&rsquo;t send you spam or anything lame</div>
  </fieldset>

  <fieldset>
    <label for="phone-number">Your cell phone number:</label>
    <input type="tel" name="phone-number" placeholder="" ng-model="applicant.phoneNumber" required>
  </fieldset>

  <fieldset>
    <label for="eviction-count">How many times have you had a landlord file an eviction against you?</label>
    <input type="number" placeholder="" ng-model="applicant.evictionCount" required>
  </fieldset>

  <fieldset>
    <label for="breaking-lease">Will you be breaking your current lease to live here?</label>
    <div>
      <input type="radio" name="breaking-lease" ng-value="true" ng-model="applicant.breakingLease">Yes
    </div>
    <div>
      <input type="radio" name="breaking-lease" ng-value="false" ng-model="applicant.breakingLease">No
    </div>
  </fieldset>

  <fieldset>
    <label for="monthly-income">What is your average monthly income?</label>
    <input type="number" pattern="^\\$?(([1-9](\\d*|\\d{0,2}(,\\d{3})*))|0)(\\.\\d{1,2})?$" required>
  </fieldset>
  
  <!-- Ask for at least one landlord reference -->

  <errors></errors>

  <button type="submit" class="btn btn-medium btn-green">Submit Application &rarr;</button>

</form>
