<ul class="sidebar-nav">
<li class="sidebar-brand"><a href="#/properties" ng-click="collapseSidebar()">castle</a></li>
  <li ng-show="isTenant === false"><a href="#/properties" ng-click="collapseSidebar()" ng-class="{ current : path === '/properties' }"><i class="fa fa-home"></i> Properties</a></li>
  <li ng-show="isTenant === true"><a href="#/tenants/dashboard" ng-click="collapseSidebar()" ng-class="{ current : path === '/tenants/dashboard' }"><i class="fa fa-money"></i> Rent Status</a></li>
  <li><a href="http://entercastle.com/contact/" target="_new" ng-click="collapseSidebar()"><i class="fa fa-envelope"></i> Contact Us</a></li>
  <li><a href="#/logout" ng-click="collapseSidebar()"><i class="fa fa-sign-out"></i> Log Out</a></li>
</ul>
