<div class="solo-form">

  <img src="images/logo-solo.png" class="centered-logo" alt="Castle">

  <h1>Let&rsquo;s get started.</h1>

  <h4>Full-service management for just $49/unit/month.</h4>

  <ul class="signup-pointers">
    <li><b>No hidden fees</b> or unexplained charges.</li>
    <li>No long-term contracts.</li>
    <li>30-day money-back guarantee</li>
  </ul>

  <form>

    <div class="both-names-input">
      <fieldset>
        <label for="first-name">Your name:</label>
        <input type="text" name="first-name" placeholder="Ralph">
      </fieldset>

      <fieldset>
        <label for="last-name"></label>
        <input type="text" name="last-name" placeholder="Rental">
      </fieldset>
    </div><!--both-names-input-->

    <fieldset>
      <label for="email-address">Your email address:</label>
      <input type="email" name="email-address" placeholder="ralph@rentalco.com">
      <div class="help-text">We wonât send you spam or anything lame.</div>
    </fieldset>

    <fieldset>
      <label for="phone-number">Your cell phone number:</label>
      <input type="tel" name="phone-number" placeholder="">
    </fieldset>

    <fieldset>
      <label for="password">Choose a password:</label>
      <input type="password" name="password" placeholder="Easy to remember, hard to guess">

      <div class="password-requirements">
        <div class="requirement">
          <input type="checkbox"> At least eight characters
        </div><!--requirement-->

        <div class="requirement">
          <input type="checkbox"> At least one number
        </div><!--requirement-->
      </div><!--password-requirements-->
    </fieldset>

    <button type="submit" class="btn btn-medium btn-green">Create My Account &rarr;</button>

  </form>


  <div class="signup-faq">

    <h5>Are there really no hidden fees?</h5>
    <p>Yes! Unlike other property management companies, we don&rsquo;t charge setup fees, marketing fees, tenant placement fees, lease renewal fees, or mysterious unexplained fees that we&rsquo;re just hoping you won&rsquo;t notice.</p>

    <h5>What about if my property needs a repair?</h5>    
    <p>If that happens, we&rsquo;ll pass the cost of the repair on to you directly&mdash;without charging any service or oversight fee. For anything over $100, we&rsquo;ll check with you before making the repair.</p>

    <h5>What&rsquo;s your refund policy?</h5>
    <p>We do our best to be fair. If you&rsquo;re unhappy with us, you can cancel at any point during your first 30 days for a full refund.</p>

  </div><!--signup-faq-->

</div>
