<form name="signup" ng-submit="submit()">
  
  <p><em>Already have a Castle account? <a href="#/login" >Log in</a>.</em></p>

  <div class="both-names-input">
    <fieldset>
      <label for="first-name">Your name:</label>
      <input type="text" name="first-name" placeholder="Ralph" ng-model="newUser.firstName" required>
    </fieldset>

    <fieldset>
      <label for="last-name"></label>
      <input type="text" name="last-name" placeholder="Rental" ng-model="newUser.lastName" required>
    </fieldset>
  </div><!--both-names-input-->

  <fieldset>
    <label for="email-address">Your email address:</label>
    <input type="email" name="email-address" placeholder="ralph@rentalco.com" ng-model="newUser.email" required>
    <div class="help-text">We won&rsquo;t send you spam or anything lame.</div>
  </fieldset>

  <fieldset>
    <label for="phone-number">Your cell phone number:</label>
    <input type="tel" name="phone-number" ng-model="newUser.phoneNumber" numeric required>
  </fieldset>

  <fieldset>
    <label for="password">Choose a password:</label>
    <input type="password" name="password" placeholder="Easy to remember, hard to guess" ng-model="newUser.password">

    <div class="password-requirements">
      <div class="requirement">
        <input type="checkbox" ng-model="passwordIsLongEnough" ng-disabled="true"> At least eight characters
      </div><!--requirement-->

      <div class="requirement">
        <input type="checkbox" ng-model="passwordContainsNumber" ng-disabled="true"> At least one number
      </div><!--requirement-->
    </div><!--password-requirements-->
  </fieldset>

  <errors></errors>

  <button type="submit" class="btn btn-medium btn-green">Create My Account &rarr;</button>

</form>
