<h1>Welcome, {{ name }}.</h1>

<form ng-submit="submit()">

  <p>Let&rsquo;s get you set up to pay rent online. Here&rsquo;s how it works:</p>

  <div class="how-it-works">
    <div class="how-it-works-sub">
      <img src="images/howitworks-link.png" alt="Link your bank account">
      <h4>1. Link your bank account</h4>
      <p>Any checking account works. It only takes a minute.</p>
    </div>

    <div class="how-it-works-sub">
      <img src="images/howitworks-notified.png" alt="Get verified">
      <h4>2. Get verified</h4>
      <p>We text you to confirm your access to the bank account.</p>
    </div>

    <div class="how-it-works-sub">
      <img src="images/howitworks-pay.png" alt="Pay your rent">
      <h4>3. Pay your rent</h4>
      <p>Rent is automatically deducted from your account each month.</p>
    </div>

  </div><!--how-it-works-->

  <p>Your monthly rent of <strong>${{ rent }}</strong> is due on the 1st of each month.</p>

  <fieldset>
    <label for="fullName">Your name:</label>
    <input type="text" name="fullName" ng-model="bankAccount.holderName" required>
    <div class="help-text">Please make sure this name exactly matches the name on your bank account.</div>
  </fieldset>

  <fieldset>
    <label for="phoneNumber">Your cell phone number:</label>
    <input type="tel" name="phoneNumber" ng-model="tenant.phoneNumber" numeric required>
    <div class="help-text">We&rsquo;ll text you reminders when rent is due, so this needs to be a cell phone.</div>
  </fieldset>

  <h5>Bank Account Information</h5>

  <div class="security-notice">
    <img class="security-seal" src="https://balancedpowered.s3.amazonaws.com/secured-2-3.png"><p><strong>We take security seriously.</strong> This information is transmitted securely to our payment processor and never stored on our servers.</p><p class="tiny"><a href="http://blog.entercastle.com/post/98492429587/how-castle-keeps-your-information-secure" tabIndex="-1" target="_new">Learn more about how Castle keeps your information secure</a>.</p>
  </div><!--security-notice-->

  <fieldset class="secure-fieldset">
    <label for="routingNumber">Routing number:</label>
    <input type="tel" name="routingNumber" placeholder="9 digits" ng-model="bankAccount.routingNumber" maxlength="9" minlength="9" numeric required> <i class="fa fa-lock"></i>
  </fieldset>

  <img src="images/check.png" alt="sample check">

  <fieldset class="secure-fieldset">
    <label for="accountNumber">Account number:</label>
    <input type="tel" class="secure" name="accountNumber" ng-model="bankAccount.accountNumber" numeric required> <i class="fa fa-lock"></i>
  </fieldset>

  <fieldset class="secure-fieldset">
    <label for="confirmAccountNumber">Confirm your account number:</label>
    <input type="tel" class="secure" name="confirmAccountNumber" ng-model="bankAccount.confirmAccountNumber" numeric required> <i class="fa fa-lock"></i>

    <div class="password-requirements">
      <div class="requirement">
        <input type="checkbox" ng-model="confirmationMatches" ng-disabled="true"> Account numbers match
      </div><!--requirement-->
    </div><!--password-requirements-->

  </fieldset>

  <div class="authorization">
    <p>When you click &ldquo;Save My Information,&rdquo; we&rsquo;ll link your bank account so that you can send rent payments.</p>
  </div><!--authorization-->

  <button type="submit" class="btn btn-medium btn-green">Save My Information</button>

  <errors></errors>

  <p class="termsofservice">By submitting your information, youâre agreeing to our <a href="http://entercastle.com/termsofservice" target="_new">Terms of Service</a>.</p>

</form>
