<div id="wrapper">

  <div sidebar id="sidebar"></div>

  <div content id="content">

    <mobile-header>Link Your Credit Card</mobile-header>
    
    <div id="mobile-wrapper">

		<h3>Link Your Credit Card</h3>
		
		<p>We&rsquo;ll our management fee of $79 per property per month to your card. We&rsquo;ll never make any additional charges on your card without your permission.</p>

	    <credit-card-form></credit-card-form>
    
    </div><!--mobile-content-->

    <olark help="true"></olark>

  </div>

</div>
