<footer-wrapper>
  <div class="solo-form" ng-show="!successfulSubmit">

    <img src="images/logo-solo.png" class="centered-logo" alt="Castle">

    <inherited-form></inherited-form>

  </div>

  <div class="solo-form" ng-show="successfulSubmit">

    <img src="images/happy-castle-guy.png" class="happy-castle-guy" alt="Castle">

    <h1>Thanks for Your Help!</h1>

    <h4>You have successfully submitted your information.</h4>

    <p class="signup-thanks">We&rsquo;ll reach out soon to talk next steps. In the meantime, please enjoy <a href="http://open.spotify.com/user/maxnuss/playlist/1LpOnU0S7GSFg8xpc5oK4h">this Spotify playlist of songs about houses</a>.</p>

  </div>
</footer-wrapper>
