<footer-wrapper>
  <div class="solo-form">

    <img src="images/logo-solo.png" alt="Castle" class="centered-logo" />

    <h1>Hello!</h1>

    <form name="vm.form" ng-submit="vm.submit()">

      <fieldset>
        <label for="email">Email address:</label>
        <input type="email" name="email" ng-model="vm.email" placeholder="" required/>
      </fieldset>

      <fieldset>
        <label for="password">Choose a new password:</label>
        <input type="password" name="password" placeholder="Easy to remember, hard to guess" ng-model="vm.newPassword"  ng-minlength="8" ng-pattern="/[0-9]/" ng-required="true" validation-msg-pattern="Still needs a number!" />

        <div class="password-requirements">
          <div class="requirement">
            <input type="checkbox" ng-model="vm.passwordIsLongEnough" ng-disabled="true"> At least eight characters
          </div><!--requirement-->

          <div class="requirement">
            <input type="checkbox" ng-model="vm.passwordContainsNumber" ng-disabled="true"> At least one number
          </div><!--requirement-->
        </div><!--password-requirements-->
      </fieldset>

      <fieldset>
        <label for="confirm">Confirm new password:</label>
        <input type="password" name="confirm" ng-model="vm.confirm" placeholder="" required/>

        <div class="password-requirements">
          <div class="requirement">
            <input type="checkbox" ng-model="vm.passwordsMatch" ng-disabled="true"> Passwords match
          </div><!--requirement-->

        </div><!--password-requirements-->
      </fieldset>

      <errors></errors>

      <button id="login-submit-button" type="submit" class="btn btn-medium btn-green">Reset Password & Log In</button>

    </form>

  </div><!--solo-form-->
</footer-wrapper>
