<footer-wrapper>
  <div class="solo-form">

    <img src="images/forgot-password.png" alt="Castle" class="happy-castle-guy" />

    <form name="vm.form" ng-submit="vm.sendEmail()" ng-hide="vm.emailSent">

      <h2>Reset Your Password</h2>
      <p class="small">Enter the email address you used during signup and we&rsquo;ll send you an email with a link to reset your password.</p>


      <fieldset>
        <label for="email">Email address:</label>
        <input type="email" name="email" ng-model="vm.email" placeholder="" required/>
      </fieldset>

      <errors></errors>

      <button id="login-submit-button" type="submit" class="btn btn-medium btn-green">Send Password Reset Email</button>

    </form>

    <div class="center" ng-show="vm.emailSent">
      <h1>Email sent!</h1>
      <img src="images/happy-castle-guy.png" class="first-run-guy">
    </div>

  </div><!--solo-form-->
</footer-wrapper>
