<footer-wrapper>
  <div class="solo-form">

    <img src="images/logo-solo.png" class="centered-logo" alt="Castle">

    <h1>Let&rsquo;s get started.</h1>

    <h4>Full-service management for just $79/unit/month.</h4>

    <ul class="signup-pointers">
      <li><b>No hidden fees</b> or unexplained charges.</li>
      <li>No long-term contracts.</li>
      <li>30-day money-back guarantee</li>
    </ul>

    <signup-form></signup-form>

    <div class="signup-faq">

      <h5>Are there really no hidden fees?</h5>
      <p>Yes! We don&rsquo;t charge setup fees, marketing fees, renewal fees, or any fees beyond the monthly $79/unit.</p>

      <h5>What if my property needs a repair?</h5>    
      <p>If that happens, we&rsquo;ll pass the cost of the repair on to you directly&mdash;without charging any service or oversight fee. For anything over $350, we&rsquo;ll check with you before making the repair.</p>

      <h5>What&rsquo;s your refund policy?</h5>
      <p>We do our best to be fair. If you&rsquo;re unhappy with us, you can cancel at any point during your first 30 days for a full refund.</p>

    </div><!--signup-faq-->

  </div>
</footer-wrapper>
