<div id="wrapper">

  <div sidebar id="sidebar"></div>

  <div content id="content">
    <mobile-header>Rent Status</mobile-header>
    <div id="mobile-wrapper">

      <div class="side-image">

        <img src="images/castle-guy-on-phone-black.png" alt="man on phone" class="castle-guy-on-phone">

      </div><!--side-image-->

      <div class="side-image-text">

        <h2>Contact Us</h2>

        <p class="small">We&rsquo;re here to help. You can reach us anytime at:</p>

        <p class="small"><strong><a href="tel:+13132142663">(313) 214-2663</a></strong> (phone and text)</p>
        <p class="small"><strong><a href="mailto:tenants@entercastle.com">tenants@entercastle.com</a></strong> (email)</p>

        <p>You can also find us on <a href="http://twitter.com/entercastle">Twitter</a>, <a href="http://facebook.com/castlepropertymanagement">Facebook</a>, and <a href="http://instagram.com/entercastle">Instagram</a>.</p>

      </div><!--side-image-text-->

    </div>
  </div><!--content-->

</div>
